
/* Select 2 custom style */

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 2px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--text-color);
    line-height: 38px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: rgb(255, 255, 255) !important;
    height: 40px !important;
}

.nav-tab {
    background: #f1f5fe;
    display: flex;
    justify-content: center;
    pointer-events: auto;
    width: fit-content;
    margin: 0 auto;
    padding: 4px;
    border-radius: 8px;
}

.nav-tab ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-tab ul li {
    display: inline-block;
    padding: 8px 24px;
    cursor: pointer;
}

.nav-tab ul li .count {
    margin-left: 8px;
    font-weight: bold;
    padding: 0 8px;
    border-radius: 500px;
    font-size: 14px;
    line-height: 1.4;
    display: inline-block;
    background: #d1e4f5;
    border: 1px solid #b2cfeb;
    color: #0a3361;
}

.nav-tab ul li.active {
    color: #001b66;
    font-weight: bold;
    background: #fff;
    box-shadow: 0 2px 8px 0 rgba(71, 84, 92, .2);
    border-radius: 8px;
}

.nav-tab-overly {
    margin-top: -42px;
}

.nav-tab ul li a {
    text-decoration: none;
    color: var(--text-color);
}

.nav-tab ul li.active a {
    color: #001b66;
}

